<h1>PLAYER INFORMATION</h1>

<div>
    <p>Name: {{player.name}}</p> 
    <p>Jersey Number: {{player.jersey}} </p>
    <p>Country of Origin: {{player.origin}}</p>
    <p>Age: {{player.age}} </p>
</div>

<a href="/players/{{player._id}}/editPlayer">Edit Player</a> 

<form method="POST" and action="/players/{{player._id}}?_method=DELETE">
   <input type="submit" value="Delete Player"/>
</form>
