<h1>TEAM INFORMATION</h1>

<div>
    <p>Name:  {{team.name}}</p>
    <p>Coach: {{team.coach}}</p>
    <p>Stadium: {{team.stadium}}</p>
    <p>Trophies Won: {{team.trophies}} </p>
</div>

<a href="/teams/{{team._id}}/editTeam">Edit Team</a> 

<form method="POST" and action="/teams/{{team._id}}?_method=DELETE">
   <input type="submit" value="Delete Team"/>
</form>
