<div>
    
    <p>Name: </p> {{team.name}}
    <p>Coach: </p>{{team.coach}}
    <p>Stadium: </p>{{team.stadium}}
    <p>Trophies Won: </p>{{team.trophies}}
</div>

<a href="/teams/{{team._id}}/editTeam">Edit Team</a> 

<form method="POST" and action="/teams/{{team._id}}?_method=DELETE">
   <input type="submit" value="Delete Team"/>
</form>
