<div>
    
    <p>Name: </p> {{team.name}}
    <p>Leauge: </p>{{team.league}}
    <p>Country: </p>{{team.country}}
</div>

<a href="/team/{{team._id}}/editTeam">Edit Team</a> 

<form method="POST" and action="/team/{{team._id}}?_method=DELETE">
   <input type="submit" value="Delete Team"/>
</form>
