<h1>STADIUM INFORMATION</h1>

<div>
    <p>Name: {{stadium.name}}</p> 
    <p>Location: {{stadium.location}}</p>
    <p>NUmber Of Seats: {{stadium.seats}}</p>
</div>

<a href="/stadiums/{{stadium._id}}/editStadium">Edit Stadium</a> 

<form method="POST" and action="/stadiums/{{stadium._id}}?_method=DELETE">
   <input type="submit" value="Delete Stadium"/>
</form>