<h1>All Users</h1>

<a href="/users/new">New User</a>

<div> 
    {{#each users}}
    <form>
      {{profilePicture}}
      <a href="/users/{{_id}}">{{name}}</a>
      {{location}}
      {{age}}
    </form>
    {{/each}}
</div>