<h1>All Users</h1>

<a href="/users/new">New Users</a>

<ul> 
    {{#each users}}
    <li>
      <a href="/users/{{_id}}">{{name}}</a>
      {{city}}
      {{state}}
      {{age}}
      <a href="/users/{{_id}}/editUser">Edit User</a> 
      <a href="/users/{{_id}}/teams">Get Teams</a>
      <a href="/users/{{_id}}/players">Get Players</a>
    </li>
    {{/each}}
</ul>