<h1>All Users</h1>

<a href="/users/new">New User</a>

<div> 
    {{#each users}}
    <form>
      <a href="/users/{{_id}}">{{username}}</a>
      {{name}}
      {{location}}
      {{age}}
    </form>
    {{/each}}
</div>