<div>
    <p>Name: </p> {{user.name}}
    <p>Location: </p>{{user.location}}
    <p>Age: </p>{{user.age}}
</div>

<a href="/users/{{user._id}}/editUser">Edit User</a> 

<form method="POST" and action="/users/{{user._id}}?_method=DELETE">
   <input type="submit" value="Delete User"/>
</form>
